{% extends "template.html" %}
{% block content %}
    <h1>5/14</h1>
    <p>
        Today marks the creation of my new blog. 
        I will try to make it so that my posts are interesting, and hopefully not just me ranting because I know that will be pretty uninteresting to read.
        I hope I can post often enough to keep readers coming back, and I want to post high/semi-high quality thoughts for people to read/comment on.
        Over time, I hope to improve the quality of my website and blog to make me more attractive to employers.
    </p>
{% endblock%}